:80 {
	handle /health {
		reverse_proxy 127.0.0.1:8080
	}

	handle /api/os/* {
		uri strip_prefix /api/os
		reverse_proxy 127.0.0.1:8080 {
			flush_interval -1
		}
	}

	handle {
		reverse_proxy 127.0.0.1:3000
	}
}
